body,
html {
 color: #fff;
 font-size: 20px;
 background-color: black;
 font-family: cursive;
 cursor: pointer;
}

header {
padding: 10px;
}

.good {
    display: inline-block;
}

.dash:after {
    content: '_';
}

.bad {
    display: none;
}

#countryinfo .bad {
    color: black;
}

span.shade {
    background-color: lightgray;
}

.gray
{
    background-color: lightgray;
}

.letter-styling.gray {
    background-color: darkgray;;
}

.letter-styling {
    letter-spacing: 30px;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
    padding: 6px;
}

#gamestatus {
    padding:20px;
}

.facts {
    padding:10px;
}

#lives {
    padding-right:10px;
}

.population {
    padding: 10px;
}

.country-image {
    padding: 10px;
}


.game-box {
    border: 1px dashed #fff;
    padding: 40px;
}

.li-placeholders {
    display: inline-block;
    letter-spacing: 20px;
    padding: 5px;
}